.Footer {
  padding: 30px 0;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  text-align: center;
}

.Footer a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
}
